In [47]:
import pandas as pd
import numpy as np

In [48]:

#read the data set
gsd = pd.read_excel('C:\\Users\\Sivanujan_S\\Documents\\research\\research preprocessing & Model creation\\GSD.xlsx')
no_gsd = pd.read_excel('C:\\Users\\Sivanujan_S\\Documents\\research\\research preprocessing & Model creation\\no_GSD.xlsx')

In [49]:
gsd.head(5)

,residence,age,gender,experience_level,working_culture,working_district,has_office,is_pegged,is_covid_gsd,is_health_gsd,...,relationship_rate,outing_rate,leisure_rate,certificates_rate,knowledge_share_rate,productivity_rate,avg_loc,avg_story_points,code_fail_rate,extra_time_rate
0,9,24,2,3,1,4,2,2,2,1,...,2,2,2,3,2,2,2,4,4,5
1,24,26,2,3,3,6,2,2,2,2,...,5,5,5,1,5,5,5,5,2,2
2,9,25,2,3,1,7,2,2,2,1,...,2,5,5,3,3,2,2,5,5,5
3,13,25,2,1,2,11,2,2,2,2,...,3,4,4,1,1,3,4,2,5,3
4,5,26,2,4,1,4,2,2,1,1,...,5,5,3,5,5,5,5,5,2,2

In [50]:
no_gsd.head(5)

,residence,age,gender,experience_level,working_culture,working_district,has_office,is_pegged,is_covid,is_health,...,relationship_rate,outing_rate,leisure_rate,certificates_rate,knowledge_share_rate,productivity_rate,avg_loc,avg_story_points,code_fail_rate,extra_time_rate
0,1,25,2,3,2,1,2,1,2,1,...,5,3,3,3,2,2,4,3,5,4
1,22,24,1,3,1,4,2,1,2,1,...,5,3,3,3,5,3,4,3,5,5
2,1,25,2,1,3,4,1,1,1,1,...,5,5,5,5,5,5,5,4,2,2
3,15,24,2,3,2,13,2,1,2,1,...,2,2,2,2,2,2,2,3,5,4
4,9,24,2,3,1,4,2,1,1,1,...,3,3,3,3,3,3,4,3,5,4

In [51]:
#method is used to count the number of Null values
gsd.columns

Index(['residence', 'age', 'gender', 'experience_level', 'working_culture',
       'working_district', 'has_office', 'is_pegged', 'is_covid_gsd',
       'is_health_gsd', 'is_economic_crisis_gsd', 'is_soft_skills_gsd',
       'is_paying_structure_gsd', 'is_tools_gsd', 'is_from_company_gsd',
       'computer_speed_gsd', 'is_network_speed_gsd', 'net_speed_gsd',
       'is_ergonomics_gsd', 'is_training_gsd', 'is_work_pressure_gsd',
       'is_distraction_gsd', 'is_tech_skill_gsd', 'is_language_gsd',
       'is_time_gsd', 'salary_rate', 'technology_rate', 'temperature_rate',
       'air_rate', 'light_rate', 'hydration_rate', 'workspace_rate',
       'flexibility_rate', 'duration_rate', 'net_rate', 'is_control_gsd',
       'is_culture_gsd', 'is_trust_gsd', 'is_distance_gsd', 'security_rate',
       'is_knowledge_gsd', 'relationship_rate', 'outing_rate', 'leisure_rate',
       'certificates_rate', 'knowledge_share_rate', 'productivity_rate',
       'avg_loc', 'avg_story_points', 'code_fail_rate', 'extra_time_rate'],
      dtype='object')

In [52]:
no_gsd.columns

Index(['residence', 'age', 'gender', 'experience_level', 'working_culture',
       'working_district', 'has_office', 'is_pegged', 'is_covid', 'is_health',
       'is_economic_crisis', 'is_soft_skills', 'is_paying_structure',
       'is_tools', 'is_from_company', 'computer_speed', 'is_network_speed',
       'net_speed', 'is_ergonomics', 'is_training', 'is_work_pressure',
       'is_distraction', 'is_tech_skill', 'salary_rate', 'technology_rate',
       'temperature_rate', 'air_rate', 'light_rate', 'hydration_rate',
       'workspace_rate', 'flexibility_rate', 'duration_rate', 'net_rate',
       'security_rate', 'relationship_rate', 'outing_rate', 'leisure_rate',
       'certificates_rate', 'knowledge_share_rate', 'productivity_rate',
       'avg_loc', 'avg_story_points', 'code_fail_rate', 'extra_time_rate'],
      dtype='object')

In [53]:
# define a function to map ages to a 5-point scale
def age_to_scale(age):
    if age < 20:
        return 1
    elif age < 23:
        return 2
    elif age < 26:
        return 3
    elif age < 30:
        return 4
    else:
        return 5
    
# 2scale to 5scale converter
def convert_2_to_5(value):
    # use a simple formula to map the value from the 2-scale to the 5-scale
    return int((value - 1) * (4/1) + 1)


# Define a function to convert a 3-point scale to a 5-point scale
def convert_3_to_5(old_value):
    new_value = (old_value - 1) * (4/2) + 1
    return new_value

In [54]:
gsd['age'] = gsd['age'].apply(age_to_scale)
gsd['gender'] = gsd['gender'].apply(convert_2_to_5)
gsd['working_culture'] = gsd['working_culture'].apply(convert_3_to_5)
gsd['has_office'] = gsd['has_office'].apply(convert_2_to_5)
gsd['is_pegged'] = gsd['is_pegged'].apply(convert_2_to_5)
gsd['is_covid_gsd'] = gsd['is_covid_gsd'].apply(convert_2_to_5)
gsd['is_health_gsd'] = gsd['is_health_gsd'].apply(convert_2_to_5)
gsd['is_economic_crisis_gsd'] = gsd['is_economic_crisis_gsd'].apply(convert_2_to_5)
gsd['is_soft_skills_gsd'] = gsd['is_soft_skills_gsd'].apply(convert_2_to_5)
gsd['is_paying_structure_gsd'] = gsd['is_paying_structure_gsd'].apply(convert_2_to_5)
gsd['is_tools_gsd'] = gsd['is_tools_gsd'].apply(convert_2_to_5)
gsd['is_from_company_gsd'] = gsd['is_from_company_gsd'].apply(convert_2_to_5)
gsd['is_network_speed_gsd'] = gsd['is_network_speed_gsd'].apply(convert_2_to_5)
gsd['is_ergonomics_gsd'] = gsd['is_ergonomics_gsd'].apply(convert_2_to_5)
gsd['is_training_gsd'] = gsd['is_training_gsd'].apply(convert_2_to_5)
gsd['is_work_pressure_gsd'] = gsd['is_work_pressure_gsd'].apply(convert_2_to_5)
gsd['is_distraction_gsd'] = gsd['is_distraction_gsd'].apply(convert_2_to_5)
gsd['is_tech_skill_gsd'] = gsd['is_tech_skill_gsd'].apply(convert_2_to_5)
gsd['is_language_gsd'] = gsd['is_language_gsd'].apply(convert_2_to_5)
gsd['is_time_gsd'] = gsd['is_time_gsd'].apply(convert_2_to_5)
gsd['is_control_gsd'] = gsd['is_control_gsd'].apply(convert_2_to_5)
gsd['is_culture_gsd'] = gsd['is_culture_gsd'].apply(convert_2_to_5)
gsd['is_trust_gsd'] = gsd['is_trust_gsd'].apply(convert_2_to_5)
gsd['is_distance_gsd'] = gsd['is_distance_gsd'].apply(convert_2_to_5)
gsd['is_knowledge_gsd'] = gsd['is_knowledge_gsd'].apply(convert_2_to_5)

In [55]:
gsd.head(100)

,residence,age,gender,experience_level,working_culture,working_district,has_office,is_pegged,is_covid_gsd,is_health_gsd,...,relationship_rate,outing_rate,leisure_rate,certificates_rate,knowledge_share_rate,productivity_rate,avg_loc,avg_story_points,code_fail_rate,extra_time_rate
0,9,3,5,3,1.0,4,5,5,5,1,...,2,2,2,3,2,2,2,4,4,5
1,24,4,5,3,5.0,6,5,5,5,5,...,5,5,5,1,5,5,5,5,2,2
2,9,3,5,3,1.0,7,5,5,5,1,...,2,5,5,3,3,2,2,5,5,5
3,13,3,5,1,3.0,11,5,5,5,5,...,3,4,4,1,1,3,4,2,5,3
4,5,4,5,4,1.0,4,5,5,1,1,...,5,5,3,5,5,5,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20,5,5,5,1.0,6,5,5,1,1,...,5,2,5,2,5,5,2,4,4,2
96,20,4,5,1,3.0,18,5,5,1,1,...,2,5,2,5,2,2,5,5,2,2
97,17,5,1,5,1.0,7,5,1,1,1,...,2,5,2,3,2,5,5,5,2,2
98,17,3,5,3,3.0,15,5,5,1,1,...,2,2,2,2,2,2,2,4,4,4
99,8,5,5,5,5.0,4,5,5,1,1,...,5,2,2,2,5,5,2,4,4,5

In [56]:
no_gsd['age'] = no_gsd['age'].apply(age_to_scale)
no_gsd['gender'] = no_gsd['gender'].apply(convert_2_to_5)
no_gsd['working_culture'] = no_gsd['working_culture'].apply(convert_3_to_5)
no_gsd['has_office'] = no_gsd['has_office'].apply(convert_2_to_5)
no_gsd['is_pegged'] = no_gsd['is_pegged'].apply(convert_2_to_5)
no_gsd['is_covid'] = no_gsd['is_covid'].apply(convert_2_to_5)
no_gsd['is_health'] = no_gsd['is_health'].apply(convert_2_to_5)
no_gsd['is_economic_crisis'] = no_gsd['is_economic_crisis'].apply(convert_2_to_5)
no_gsd['is_soft_skills'] = no_gsd['is_soft_skills'].apply(convert_2_to_5)
no_gsd['is_paying_structure'] = no_gsd['is_paying_structure'].apply(convert_2_to_5)
no_gsd['is_tools'] = no_gsd['is_tools'].apply(convert_2_to_5)
no_gsd['is_from_company'] = no_gsd['is_from_company'].apply(convert_2_to_5)
no_gsd['is_network_speed'] = no_gsd['is_network_speed'].apply(convert_2_to_5)
no_gsd['is_ergonomics'] = no_gsd['is_ergonomics'].apply(convert_2_to_5)
no_gsd['is_training'] = no_gsd['is_training'].apply(convert_2_to_5)
no_gsd['is_work_pressure'] = no_gsd['is_work_pressure'].apply(convert_2_to_5)
no_gsd['is_distraction'] = no_gsd['is_distraction'].apply(convert_2_to_5)
no_gsd['is_tech_skill'] = no_gsd['is_tech_skill'].apply(convert_2_to_5)

In [57]:
no_gsd.head(100)

,residence,age,gender,experience_level,working_culture,working_district,has_office,is_pegged,is_covid,is_health,...,relationship_rate,outing_rate,leisure_rate,certificates_rate,knowledge_share_rate,productivity_rate,avg_loc,avg_story_points,code_fail_rate,extra_time_rate
0,1,3,5,3,3.0,1,5,1,5,1,...,5,3,3,3,2,2,4,3,5,4
1,22,3,1,3,1.0,4,5,1,5,1,...,5,3,3,3,5,3,4,3,5,5
2,1,3,5,1,5.0,4,1,1,1,1,...,5,5,5,5,5,5,5,4,2,2
3,15,3,5,3,3.0,13,5,1,5,1,...,2,2,2,2,2,2,2,3,5,4
4,9,3,5,3,1.0,4,5,1,1,1,...,3,3,3,3,3,3,4,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,23,5,5,5,5.0,6,5,1,1,1,...,5,5,5,5,5,5,5,4,2,2
96,15,5,5,5,5.0,4,5,5,1,1,...,5,5,5,5,5,5,5,4,2,2
97,2,5,5,5,3.0,2,5,1,1,1,...,5,5,5,5,5,5,5,4,2,2
98,3,5,5,5,3.0,3,5,5,1,1,...,5,5,5,5,5,5,5,4,2,2
99,23,5,1,5,5.0,4,5,1,1,1,...,5,5,5,5,5,5,5,4,2,2

In [58]:
gsd.to_csv('GSD.txt', sep='\t', index=False)
no_gsd.to_csv('no_GSD.txt', sep='\t', index=False)